{% extends 'base.html' %}

{% load static %}
{% block js %}

  <script>

       var intervalID;
       function request_server() {
          // run ajax request
          console.log('requesting status from /superres/query_status');
          var token = document.getElementById("token").value;
          console.log(token);
          
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
               console.log('xhttp response = '+this.responseText);
               var b = JSON.parse(this.responseText);
               if (b.image_url != "") {
                  document.getElementById("loading").innerHTML = '<h1> Done </h1>';
                  document.getElementById("done").innerHTML = "<p>Image: <img src="+b.image_url+">";
                  clearInterval(intervalID)
               } else {
               }
               console.log(b.image_url);
               
             }
          };
          xhttp.open("GET","/superres/query_status/?"+token, true);
          xhttp.send();
       }

       function onload() {
           intervalID = setInterval(request_server, 1000);
       }

       window.onload = onload();
       

  </script>
{% endblock %}

{% block content %}

  <div id="loading"> 
           <img src="/static/loading.gif">
  </div>
  
  <div id="done">
  </div>

  <input type="hidden" id="token" name="token" value="{{token}}">
{% endblock %}
